.on-off-toggle {
    margin: 0 0.5em;
    border: 0 solid;
    color: transparent;
    border-radius: 20%;
    width: 2em;
    height: 2em;
    cursor: pointer;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
    box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);

    &.off {
        background: #181818;
        background: linear-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(1, #131313));

    }

    &.on {
        background-color: #a8d8f8;
        box-shadow: 0 0 0.3em 0.08em #79c3f4;
    }
}